# Dockerhub
export DOCKERHUB=

# JWT
export APP_KEY=

# Quantum Host
export QUANTUM_DS_HOST=
export PIP_TRUSTED_HOST=

# Quantum Database
export QUANTUM_DB_USER=
export QUANTUM_DB_PASS=
export PGUSER=
export QUANTUM_DB_HOST=

# MQP Mail Configuration
export MQP_MAIL_USERNAME=
export MQP_MAIL_PWD=
export MQP_MAIL_DEFAULT_SENDER=
export MQP_MAIL_ADMIN=
export MQP_MAIL_RECIPIENTS=

# Pypi
export PIP_EXTRA_INDEX_URL=https://pypi.quantum.lrz.de
export PATH=/root/.local/bin:$PATH

# Proxy Database
export PROXY_DB_HOST=
export PROXY_DB_PORT=
export PROXY_DB=
export PROXY_DB_USER=
export PROXY_DB_PASS=


